<div class="rating-vol" onmouseup={{action 'sendScore'}}>
	<div class="percentage-background"></div>
	<div class="rating-title">Средний балл:</div>
	<div class="rating-nums"><span id="rate">{{anime.meta.average-score}}</span> из 10</div>
</div>