{{yield}}
<label class="upload_bt">
	<div class="bt">Выберите файл</div>
	<input type="file" name="" onchange={{action "buttonChange"}} id="fileCover">
</label>
<div class="Upload_Cont">
или перетащите его в эту область
</div>
