<div class="series_add">
	{{input value=number placeholder="Номер серии"}}
	<label>
		<div class="add_bt">Файл серии</div>
		<input type="file" name="" id="series">
	</label>
	
	<div class="alert" style={{html-safe (concat "display:" valid )}} id="block2">Упс, чего-то не хватает</div><br>
	<button {{action 'sendData'}}>Добавить</button>
	{{changeType}}
</div>