<header>
	<h2>{{item}}</h2>
</header>
{{#if enteredViewport}}
	<section>
		<blockquote class="dog-card-description">Shinier than yours, meatbag. Tell them I hate them. Meh. My fellow Earthicans, as I have explained in my book 'Earth in the Balance, and the much more popular 'Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. Stop! Don't shoot fire stick in space canoe! Cause explosive decompression!
		</blockquote>
	</section>
 {{/if}}