<div class="catalog-menu">
    <div class="table-list">
        <table style="width:100%">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Права</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{#each animeItems as |catalog|}}
                    <tr>
                        <td>{{catalog.title}}</td>
                        <td>
                            {{#each catalog.genres as |item|}}
                                {{#link-to 'main.admin.animeList'(query-params category=item.name)}}
                                    {{item.name}}
                                {{/link-to}}
                            {{/each}}
                        </td>
                        <td>{{catalog.date}}</td>
                        <td><span onclick={{action "delete" catalog.id}} class="delete">Удалить</span></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
