{{#if recentCount}}
<div class="notif">{{recentCount}}</div>
{{/if}}
<div class="notify-list">
	<div class="notify-list__title">Недавние обновления:</div>
	{{#each list as |item|}}
		<div class="notify-list__item {{unless item.is_watch "notify-list__item_is-watch"}}">
			{{link-to 
				item.series.anime.title
				'main.anime.page' item.series.anime.id
				class="notify-list__item-title"
			}}
			<div class="notify-list__item-episode">
				Номер эпизода {{item.series.number}}
			</div>
		</div>
	{{/each}}
</div>