<div class="module-login-form">
	<div>
		<img src="../img/logo.png">
	</div>
	<div class="form-title">ФОРМА РЕГИСТРАЦИИ</div>
	<div class="line"></div>
	<div class="wrap">
		<div class="num-1">90
			<div>аниме в базе</div>
		</div>
		<div class="num-3">200
			<div>аниме-серий</div>
		</div>
		<div class="num-2">120
			<div>пользователей</div>
		</div>
	</div>
	<form class="form"{{action 'registration' on='submit'}}>
		<label for="identification">
			{{input placeholder="Логин" value=identification}}
		</label>
		<label for="password">
			{{input placeholder="Пароль" value=password}}
		</label>
		<label for="repeatPassword">
			{{input placeholder="Подтвеждение пароля" value=repeatPassword}}
		</label>
		<button type="submit">Зарегистрироваться</button>
		{{#if errorMessage}}
			<div class="not-now">Пароли и логин не совпадают</div>
		{{/if}}
	</form>
</div>
