<button {{action 'randomser'}}>Generate anime</button>
<br><br>
<button {{action 'randomGebre'}}>Generate generee-orfkweo-fke</button>


<br><br>

Cерии:
{{series-new}}
<br><br><br>
Аниме<br>
{{anime-new}}