<div class="main-header">
	<div class="col-1">
		<div  class="wrap-col">
			{{#link-to 'main.library'}}
				КАТАЛОГ АНИМЕ
			{{/link-to}}
		</div>
	</div>
	<div class="col-3">
		<div class="wrap-col">
			<a href="#" {{action 'invalidateSession'}} class="pos-3"></a>
			{{!-- {{notification-block notifications=sessionAccount.account.notifications}} --}}
			{{#link-to 'main.user' sessionAccount.account.id class="pos-1"}}
				{{sessionAccount.account.email}}
			{{/link-to}}
		</div>
	</div>
	<div class="logo">
		{{#link-to 'main'}}
			<img src="/img/logo.png">
		{{/link-to}}
	</div>
</div>
{{outlet}}